//    banner start
.banner {
    .banner-carousel {
        position: relative;
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            @media screen and (max-width: $break_xs) {
                top: 83%;
            }
        }
        .arrow-left {
            left: 25px;
            z-index: 50;
            @media screen and (max-width: $break_sm) {
                left: 10px;
            }
        }
        .arrow-right {
            right: 25px;
            @media screen and (max-width: $break_sm) {
                right: 10px;
            }
        }
    }
    .overlay {
        background-color: rgba($mask_banner-item, .3);
        height: 100%;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .caption {
        position: absolute;
        top: 56.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $main-caption_color;
        @media screen and (max-width: $break_sm) {
            top: 0;
            left: 0;
            position: relative;
            transform: none;
            background-color: $mask_banner-item;
            height: auto;
            padding: 20px 0 30px;
        }
        h1 {
            text-shadow: 0.1px 1px 0 rgba($black, 0.16);
            font-size: 4vw;
            font-weight: 600;
            line-height: 24px;
            margin: 0 0 49px;
            @media screen and (max-width: $break_lg) {
                font-size: 45px;
                margin: 0 0 25px;
            }
            @media screen and (max-width: $break_md) {
                font-size: 35px;
                margin: 0 0 15px;
            }
            @media screen and (max-width: $break_sm) {
                font-size: 25px;
                margin: 0 0 10px;
            }
        }
        p {
            font-size: 23px;
            font-weight: 400;
            line-height: 37px;
            margin: 0 0 75px;
            @media screen and (max-width: $break_lg) {
                font-size: 18px;
                margin: 0 0 50px;
            }
            @media screen and (max-width: $break_md) {
                font-size: 15px;
                line-height: 25px;
                margin: 0 0 40px;
            }
            @media screen and (max-width: $break_sm) {
                font-size: 13px;
                line-height: 15px;
                margin: 0 0 25px;
            }
        }
        a {
            color: $caption-btn_color;
            font-size: 26px;
            font-weight: 600;
            line-height: 24px;
            text-decoration: none;
            border: 2px solid $caption-btn_color;
            border-radius: 4px;
            padding: 14px 40px;
            transition: $transition_base;
            &:hover {
                background-color: rgba($caption-btn_bg, .5);
            }
            @media screen and (max-width: $break_lg) {
                font-size: 20px;
            }
            @media screen and (max-width: $break_sm) {
                font-size: 15px;
                line-height: 15px;
                padding: 10px 30px;
            }
        }
    }
}

//    banner end