$main_font_family: 'Open Sans', sans-serif;
$logo_font_family: 'Lobster', cursive;
$font_size_base: 15px;
$line-height_base: 24px;
$font_weight_normal: 400;
$font_weight_semibold: 600;
$font_weight_extrabold: 800;
$font_weight_base: $font_weight_normal;

$transition_base: all 0.3s ease-in-out;

$white: #fff;
$black: #000;
$main_color: #4e525d;

$header_bg: $white;
$logo_color: #44c0c2;
$button_mob_color: #44c0c2; 
$main_bg-color: $white;
$navlist_color: #484c55;
$navlist_hover_color: #49cbcd;
$navlist_hover_bg_color: #f8f9fb;

//   MENU BUTTON
$color: $button_mob_color;
$transition-button: $transition_base;
$base: 10px;
$space: $base/4;

$slick-arrow_color: #49cbcd;
$slick-arrow_bg_color: $white;

$team_main_color: #4e525d;
$foto_bg_color: #eeeef0;

$plans_main_bg: #f1f1f1;
$title_bg: #485460;
$title_bg_hover: #49cbcd;
$price_bg: #f8f9fb;
$price_color: #485460;
$price-list_color: #8c9299;
$price-list_border_color: #ecf0f1;
$buy-now_bg: #788492;
$buy-now_bg_hover: #49cbcd;

$contact_info_color: #bface2;
$btn-form_bg: #49cbcd;
$placeholder_color: #c1c1c1; 

$facebook: #3b5997;
$twitter: #3ec2f3;
$google: #e44c41;